.cart_body {
  /* background-color: white; */
  font-family: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}
.cart_mainDiv {
  background-color: white;
  position: static;
  width: 75%;
  margin: auto;
  margin-top: 3em;
  display: grid;
  grid-template-columns: 58% 1% 40%;
  column-gap: 2%;
}
.vertical{
  border-left: 1px solid #dfdfe2;
}
