.main_div {
  margin: 2em 3px 3px 3px;
  width: 98%;
  height: 3.7em;
  display: flex;
  flex-direction: row;
  column-gap: 23%;
}
.checkbox_para {
  float: right;
  margin-top: 13px;
  font-weight: 600;
  font-size: 16px;
  color: #282c3f;
}
.button_div {
  display: flex;
  flex-direction: row;
  margin-top: 7.2px;
}
.button {
  color: #535766;
  padding: 6px 24px 6px 0;
  height: 32px;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
.vertical_line {
  height: 6vh;
  width: 8px;
  border-left: 1px solid #535766;
  margin-left: -1em;
}
