.img {
  /* display: grid;
  grid-template-columns: auto auto; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.img :hover {
  transform: scale(1.05);
}

.img {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  overflow: hidden;
}

.img img {
  display: block;
  width: 100%;
  transition: transform 1s;
}
.img :hover img {
  transform: scale(0.9);
  /* filter: grayscale(0); */
}
