body {
  background-color: rgb(253, 238, 237);
  font-family: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}
.otp_input_box > input {
  width: 20px;
  height: 2.5em;
  margin: 14px 14px 14px 0;
}
.otp_parentDiv {
  background-color: white;
  position: static;
  width: 320px;
  margin: auto;
  margin-top: 7em;
  padding: 70px 40px 50px;
}
.otp_bold {
  color: rgb(255, 63, 108);
  font-size: 14px;
  cursor: pointer;
}
.otp_para {
  font-size: 13px;
  font-weight: 300;
  color: #8a8b8f;
  padding-bottom: 15px;
}
.otp_para1 {
  font-size: 12px;
  font-weight: 300;
  color: #424553;
  padding-bottom: 15px;
}
.otp_heading {
  font-size: 20px;
}
