body {
  background-color: rgb(253, 238, 237);
  font-family: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}
.password_parentDiv {
  background-color: white;
  position: static;
  width: 320px;
  margin: auto;
  margin-top: 7em;
  padding: 70px 40px 50px;
}
.MuiTextFieldpassword {
  font-size: 14px;
  width: 100%;
  margin-top: 20px;
}
.password_button {
  cursor: pointer;
  background-color: #ff3f6c;
  text-align: center;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  border: 0px solid #ff3f6c;
  width: 100%;
  margin: 20px 0 10px;
  height: 2.4em;
}
.password_bold {
  color: rgb(255, 63, 108);
  font-size: 14px;
  cursor: pointer;
}
.password_para {
  font-size: 15px;
  font-weight: 300;
  color: #8a8b8f;
  padding-bottom: 20px;
  padding-top: 15px;
}
.password_heading {
  font-size: 22px;
}
